Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
flask_jwt_extended
langchain-community
langchain-text-splitters
python-dotenv
langchain-core
langchain-huggingface
SQLAlchemy
pypdf
faiss-cpu
sentence-transformers
PyJWT
Werkzeug
